
---
services:
  # Combined frontend and backend service
  dms-gui:
    build: .
    container_name: dms-gui
    hostname: dms-gui
    restart: unless-stopped
    
    expose:
      - 80      # frontend
      - 3001    # docs
      
    env_file: ./config/dms-gui/.dms-gui.env
    environment:
      - TZ=${TZ:-UTC}

      # Set to true to enable debug logs for Docker commands
      # - DEBUG=true

    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./config/dms-gui/:/app/config/

      # If you want to develop locally... mount anything you want and reload container after adding npm stuff
      # - ./backend/package.json:/app/backend/package.json
      # - ./backend/package-lock.json:/app/backend/package-lock.json
      # - ./frontend.mjs/package.json:/app/frontend/package.json
      # - ./frontend.mjs/package-lock.json:/app/frontend/package-lock.json
      
    # add your proxy network if you need:
    networks:
      frontend:

networks:
  frontend:
    external: true
    name: frontend
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-frontend
