
---
services:
  # Combined frontend and backend service
  dms-gui:
    build: .
    container_name: dms-gui
    hostname: dms-gui
    restart: unless-stopped
    
    expose:
      - 80      // frontend
      - 3001    // docs
    # ports:
      # - 127.0.0.1:80:80
      
    env_file: ./config/dms-gui/.dms-gui.env
    environment:
      - TZ=${TZ:-UTC}

      # Set to true to enable debug logs for Docker commands
      # - DEBUG=true

    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./config/dms-gui/:/app/config/

      # if you want to develop locally... mount anything you want and reload
      # always keep packages up to date... mount those and run npx+npm install from the container and then same them
      - ./backend/package.json:/app/backend/package.json
      - ./backend/package-lock.json:/app/backend/package-lock.json
      - ./frontend.mjs/package.json:/app/frontend/package.json
      - ./frontend.mjs/package-lock.json:/app/frontend/package-lock.json
      
    # # add your proxy network if you need:
    networks:
      frontend:

networks:
  frontend:
    external: true
    name: frontend
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-frontend

## ---------------------------------------------------------------------
## build commands: https://hub.docker.com/r/dunajdev/docker-mailserver-gui
## build commands: https://hub.docker.com/repositories/audioscavenger

# alias buildup='docker buildx build -t dms-gui-24-alpine . && docker-compose up --build --force-recreate'

# docker login -u audioscavenger
# docker image rm audioscavenger/dms-gui:v1.2.3 && docker container prune -f && docker image prune -f
# docker buildx build --no-cache -t audioscavenger/dms-gui:latest -t audioscavenger/dms-gui:$(grep "^ARG DMSGUI_VERSION=v" Dockerfile | cut -d= -f2) .
# docker push audioscavenger/dms-gui --all-tags


## upgrade commands:
# docker exec -it dms-gui sh
# cd /app/backend
# /app/backend # npm version
    # {
      # 'dms-gui-backend': '1.0.4',
      # npm: '11.6.0',
      # node: '24.9.0',
      # acorn: '8.15.0',
      # ada: '3.2.7',
      # amaro: '1.1.2',
      # ares: '1.34.5',
      # brotli: '1.1.0',
      # cjs_module_lexer: '2.1.0',
      # cldr: '47.0',
      # icu: '77.1',
      # llhttp: '9.3.0',
      # modules: '137',
      # napi: '10',
      # nbytes: '0.1.1',
      # ncrypto: '0.0.1',
      # nghttp2: '1.66.0',
      # openssl: '3.5.3',
      # simdjson: '3.13.0',
      # simdutf: '6.4.0',
      # sqlite: '3.50.4',
      # tz: '2025b',
      # undici: '7.16.0',
      # unicode: '16.0',
      # uv: '1.51.0',
      # uvwasi: '0.0.23',
      # v8: '13.6.233.10-node.27',
      # zlib: '1.3.1-470d3a2',
      # zstd: '1.5.7'
    # }

# docker exec -it dms-gui sh
# npm install -g npm-check-updates
# npm install -g npm

# cd /app/backend
# npx npm-check-updates -u
# npm install
# npm audit fix
    # Upgrading /app/backend/package.json
    # [====================] 10/10 100%

     # axios       ^1.8.4  →  ^1.12.2
     # dockerode   ^4.0.2  →   ^4.0.8
     # dotenv     ^16.4.7  →  ^17.2.2
     # express    ^4.21.2  →   ^5.1.0
     # nodemon     ^3.1.9  →  ^3.1.10
     # prettier     3.5.3  →    3.6.2

# cd /app/frontend
# npx npm-check-updates -u
# npm install
# npm audit fix
    # [====================] 21/21 100%

     # @babel/core                       ^7.26.10  →   ^7.28.4
     # @babel/preset-env                  ^7.26.9  →   ^7.28.3
     # @babel/preset-react                ^7.26.3  →   ^7.27.1
     # axios                               ^1.8.4  →   ^1.12.2
     # bootstrap                           ^5.3.3  →    ^5.3.8
     # bootstrap-icons                    ^1.11.3  →   ^1.13.1
     # html-webpack-plugin                 ^5.6.3  →    ^5.6.4
     # i18next                            ^24.2.3  →   ^25.5.2
     # i18next-browser-languagedetector    ^8.0.4  →    ^8.2.0
     # prettier                             3.5.3  →     3.6.2
     # react                              ^19.1.0  →   ^19.1.1
     # react-bootstrap                    ^2.10.9  →  ^2.10.10
     # react-dom                          ^19.1.0  →   ^19.1.1
     # react-i18next                      ^15.4.1  →   ^16.0.0
     # react-router-dom                    ^7.4.1  →    ^7.9.3
     # webpack                            ^5.98.0  →  ^5.101.3
     # webpack-dev-server                  ^5.2.1  →    ^5.2.2




