# Server port
PORT_NODEJS=3001
REACT_APP_API_URL=http://localhost:3001
DB_PATH=/app/config

# Docker Mailserver Configuration
SETUP_SCRIPT=/usr/local/bin/setup
DMS_CONTAINER=dms

# Debugging
# Set to true to enable debug logs for Docker commands
DEBUG=false

# Environment
# NODE_ENV=development
NODE_ENV=production