# Docker Mailserver Configuration
SETUP_SCRIPT=/usr/local/bin/setup
DMS_CONTAINER=dms

# backend port
PORT_NODEJS=3001

# Debugging
# DEBUG=true

# Dev Environment
REACT_APP_API_URL=http://localhost:${PORT_NODEJS}
DB_PATH=/app/config
# NODE_ENV=development
NODE_ENV=production
