###############################################################################
## dms-gui Configuration: all is handled by React.
## Only the defaults used in dms-gui will be mentionned here.
###############################################################################
## JWT_SECRET = secret for salting the cookies, regenerated during container start, before starting node
## JWT_SECRET_REFRESH = secret for salting the refresh cookies, regenerated during container start, before starting node
## Those keys cannot be defined anywhere else then during container start, and are secret as the name suggests
###############################################################################

## Optional: Dev Environment
# NODE_ENV=development
NODE_ENV=production

## Debugging
# DEBUG=true

## how long before rotation of the secrets:
ACCESS_TOKEN_EXPIRY=1h
REFRESH_TOKEN_EXPIRY=7d

## utility paths for internal database
DMSGUI_CONFIG_PATH=/app/config
DATABASE=${DMSGUI_CONFIG_PATH}/dms-gui.sqlite3

## encryption options:
## IV_LEN is the length of the unique Initialization Vector (IV) = random salt used for encryption and hashing
IV_LEN=16
## HASH_LEN is the length of the hashed keys for passwords
HASH_LEN=64
## encrypted data secret key, that one is set in the environment as well but shall never change
## generate it once and for all with node or openssl:
### openssl rand -hex 32
### node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
AES_SECRET=
## encrypted data algorithm
AES_ALGO=aes-256-cbc
## AES_HASH is the used to hash the secret key
AES_HASH=sha512

## utility paths for internal database
DMSGUI_CONFIG_PATH=/app/config
DATABASE=${DMSGUI_CONFIG_PATH}/dms-gui.sqlite3

## Override the daily restart of the container, with this simple trick: default is 11PM
## The container must restart regularly to regenerate the secret keys. Security first.
##           ┌────────────── second (optional)
##           │ ┌──────────── minute
##           │ │ ┌────────── hour
##           │ │ │  ┌──────── day of month
##           │ │ │  │ ┌────── month
##           │ │ │  │ │ ┌──── day of week
##           │ │ │  │ │ │
##           │ │ │  │ │ │
##           * * *  * * *
DMSGUI_CRON="* 1 23 * * *"

# make this a demo server
# isDEMO=true

# disable colors in backend logs, some terminals can't handle them
# LOG_COLORS=false
