###############################################################################
## dms-gui Configuration: all is handled by React.
## React is incompatible with environment variables as it relies on a database.
## Only the defaults used in dms-gui will be mentionned here.
## Don't set those variables as they will not be read nor used.
# DMS_CONTAINER=dms
# DMS_SETUP_SCRIPT=/usr/local/bin/setup
# DMS_API_KEY=uuid set in dms-gui
# DMS_API_PORT=8888
# PORT_NODEJS=3001
# API_URL=http://localhost:3001
# DOVEADM_PORT=8080
###############################################################################
## JWT_SECRET = secret for salting the cookies, regenerated during container start, before starting node
## JWT_SECRET_REFRESH = secret for salting the refresh cookies, regenerated during container start, before starting node
## Those keys cannot be defined anywhere else then during container start, and are secret as the name suggests
###############################################################################

## Optional: Dev Environment
# NODE_ENV=development
NODE_ENV=production

## Debugging
# DEBUG=true

## how long before rotation of the secrets:
ACCESS_TOKEN_EXPIRY=1h
REFRESH_TOKEN_EXPIRY=7d

## utility paths for internal database
DMSGUI_CONFIG_PATH=/app/config
DATABASE=${DMSGUI_CONFIG_PATH}/dms-gui.sqlite3

## Override the daily restart of the container, with this simple trick: default is 11PM
## The container must restart regularly to regenerate the secret keys. Security first.
##           ┌────────────── second (optional)
##           │ ┌──────────── minute
##           │ │ ┌────────── hour
##           │ │ │  ┌──────── day of month
##           │ │ │  │ ┌────── month
##           │ │ │  │ │ ┌──── day of week
##           │ │ │  │ │ │
##           │ │ │  │ │ │
##           * * *  * * *
DMSGUI_CRON="* 1 23 * * *"

# make this a demo server
# isDEMO=true

# disable colors in backend logs, some terminals can't handle them
# LOG_COLORS=false


